.homepage-main-container,
video {
  height: 90vh;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100vw;
  background-position: 50%;
  position: relative;
}

.buttonStart {
  width: 200px;
  height: 60px;
  font-weight: bold;
  background-color: rgb(156, 14, 14);
  font-size: 1.5rem;
  border: 1px solid #000000;
  border-radius: 10px;
  color: rgb(214, 214, 218);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: 5px 5px 9px -1px rgba(0, 0, 0, 0.69);
  box-shadow: 5px 5px 9px -1px rgba(0, 0, 0, 0.69);
}

.buttonStart a {
  text-decoration: none;
}
