.choose-starter-main-container{
  overflow-x: hidden;
}
.choose-starter_title {
  margin-top: 2rem;
}
.starter-card-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
}

.starter-card-container img {
  width: 170px;
  height: auto;
}

@media (max-width: 767px) {
  .starter-card-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
  }
  .starter-card-container img {
    width: 130px;
  }
}
