.App {
  height: 100vh;
}

.choose-starter-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-starter_title {
  margin: 2rem 1rem 1rem 1rem;
}

.starter-card-container {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 10px;
}

.starter-card_pokemon {
  width: 300px;
  height: auto;
}

.starter-card_pokemon img {
  width: 11rem;
  height: auto;
  border-radius: 20px;
  transition: all 200ms ease-out;
}

@media (min-width: 800px) {
  .starter-card_pokemon:hover img {
    transform: scale(1.2);
    transform-origin: center;
  }
}

@media (max-width: 767px) {
  .starter-card-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 15px;
    margin-top: 2rem;
  }

  .starter-card_pokemon {
    width: 110px;
    height: auto;
  }

  .starter-card-container img {
    width: 100px;
  }
}