h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.generation-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.generation-container p {
  font-size: 1.5rem;
  font-weight: 300;
}

.starter-triangle-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f0ecec;
  border-radius: 10px;
  margin: 5px;
}
.starter-triangle-container img {
  height: 100px;
  width: auto;
}

.top-triangle {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 26px;
}

.bottom-triangle {
  display: flex;
  justify-content: center;
  top: 13px;
}

.bottom-left {
  left: 11px;
}

.bottom-right {
  left: 42px;
}

@media (max-width: 767px) {
  .generation-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .starter-triangle-container img {
    height: 80px;
    width: auto;
  }
  .starter-triangle-container img {
    height: 65px;
    width: 65px;
  }
}
