.captured-pokemon_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.captured-pokemon_info {
  display: flex;
  justify-content: center;
  margin: 5rem 5rem 1rem 5rem;
}
.captured-pokemon_message_container {
  width: 25rem;
  height: 10rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.captured-pokemon_message {
  font-size: 2rem;
  text-align: center;
  margin: 3rem 2rem;
  font-weight: 600;
  color: #295783;
  line-height: 50px;
}

.captured_pokemon {
  width: 25rem;
  height: auto;
  margin: 1rem;
}
.btn-capture {
  margin: 2rem;
  width: 250px;
  height: 70px;
  font-weight: 500;
  font-size: 2rem;
  background-color: #5fa5e5;
  border: 2px solid #295783;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 767px) {
  .captured-pokemon_card {
    margin-top: 5rem;
  }

  .btn-capture {
    margin-top: 4rem;
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
  }
  .captured_pokemon {
    width: 15rem;
    height: auto;
    margin: 1rem;
  }

  .captured-pokemon_message {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 1rem;
  }
}
