
.burger-menu{
    display: none;
    /* width: 2rem;
    height: 25px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    z-index: 10; */
}

.burger{
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: #000000;
    transform-origin: 1px;
    transition: all 0.3s linear;
}

@media (max-width: 767px){
    .burger-menu{
        width: 2rem;
        height: 25px;
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        /* margin-right: 2rem; */
        z-index: 10;
    }

    
}
    
