.navBar{
    height: 80px;
    display:flex;
    justify-content: space-between;
    background: linear-gradient(45deg, rgb(156, 14, 14), rgb(238, 238, 244));
  }

.btn-pokedex{
    background-color: rgb(238, 238, 244);
    border-radius: 10px;
    border: 1px solid grey;
    font-family: 'Press Start 2P';
    font-size: 1.2rem;
    color: #FD6B01;
    cursor: pointer;
    height: 60px;
    width: 200px;
    align-self: center;
    margin-right: 50px;
}

.logo-img{
    width:50px;
    height: 50px; 
    margin: 1rem;
    cursor: pointer; 
  }