.pokedex-page-main-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 7rem;
}

.pokedex-title {
  margin-bottom: 2rem;
}

.cardPokedexPage img {
  width: 400px;
  height: auto;
}

@media (max-width: 767px) {
  .pokedex-page-main-container {
    flex-direction: column;
    margin-top: 6rem;
  }
  .pokedex-title {
    font-size: 2rem;
  }

  .cardPokedexPage {
    margin-bottom: 6rem;
  }
  .cardPokedexPage img {
    width: 200px;
    height: auto;
  }
}
