.pokedex-page-main-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-top: 3rem;
}

.cardPokedexPage {
  margin-right: 4rem;
  margin-left: 4rem;
}

.pokedex-title {
  margin-bottom: 2rem;
}
.cardPokedexPage img {
  height: 130px;
  width: 130px;
}

@media (max-width: 767px) {
  .pokedex-page-main-container {
    flex-direction: column;
    margin-top: 6rem;
  }
  .pokedex-title {
    font-size: 2rem;
  }

  .cardPokedexPage {
    margin-bottom: 6rem;
  }
}
