*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Press+Start+2P&family=Roboto:wght@100;400&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 
.card {
  filter:drop-shadow(4px 10px 15px rgba(137, 137, 137, 0.1));
  border-radius: 10px;
  background-color: white;
  width: 100%;
  height: 480px;
  border: 1px solid black;
}
*/
.characterList {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, 310px);
  gap: 20px;
  justify-content: center;
} 

button {
  background-color: #5FA5EF;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-family: 'Press Start 2P';
}